@font-face {
  font-family: "Adobe Garamond Pro Bold";
  src: url("..//fonts/AdobeGaramondPro/AGaramondPro-Bold.otf") format("opentype");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "Arial Regular";
  src: url("..//fonts/Arial/Arial-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Montserrat Bold";
  src: url("..//fonts/Montserrat/Montserrat-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "Montserrat Regular";
  src: url("..//fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Roboto Regular";
  src: url("..//fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  overflow-x: hidden;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

article > * + * {
  margin-top: 1em;
}

:focus-visible {
  outline: none;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
    animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.title {
  font-family: 'Adobe Garamond Pro Bold';
  font-size: 60px;
  line-height: 1.2;
  color: #14274A;
}

@media (max-width: 768px) {
  .title {
    font-size: calc(38px + (60 - 38) * ((100vw - 300px) / (768 - 300)));
  }
}

.title--big {
  font-family: 'Montserrat Regular';
  font-size: 40px;
  line-height: 1.2;
  color: #14274A;
}

@media (max-width: 768px) {
  .title--big {
    font-size: calc(26px + (40 - 26) * ((100vw - 300px) / (767 - 300)));
  }
}

.subtitle {
  font-family: 'Montserrat Regular';
  font-size: 25px;
  line-height: 1.2;
  text-align: center;
  color: #14274A;
}

@media (max-width: 768px) {
  .subtitle {
    font-size: calc(20px + (25 - 20) * ((100vw - 300px) / (768 - 300)));
  }
}

.button {
  background: #E0B973;
  border-radius: 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  -webkit-transition: 400ms ease 0s;
  transition: 400ms ease 0s;
}

.button:hover {
  border-radius: 40px;
  -webkit-box-shadow: 0px 0px 5px #E0B973;
          box-shadow: 0px 0px 5px #E0B973;
}

.wrapper {
  padding: 0 120px;
}

@media (max-width: 1110px) {
  .wrapper {
    padding: 0 80px;
  }
}

@media (max-width: 992px) {
  .wrapper {
    padding: 0 50px;
  }
}

@media (max-width: 768px) {
  .wrapper {
    padding: 0 20px;
  }
}

section {
  position: relative;
  width: 100%;
  height: auto;
  margin-bottom: 150px;
}

.firstscreen {
  position: relative;
  width: 100%;
  height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 100px;
}

@media (max-height: 650px) {
  .firstscreen {
    height: 650px;
  }
}

.firstscreen::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background: rgba(20, 39, 74, 0.5);
}

@media (max-height: 650px) {
  .firstscreen::after {
    height: 650px !important;
  }
}

.firstscreen.home {
  background-image: url(..//img/main/header_bg.webp);
}

.firstscreen.facilite {
  background-image: url(..//img/facilities/header_bg.webp);
}

.firstscreen.rooms {
  background-image: url(..//img/rooms/header_bg.webp);
}

.firstscreen.contacts {
  background-color: #14274A;
  height: 500px;
  overflow: hidden;
}

@media (max-width: 1110px) {
  .firstscreen.contacts {
    height: 400px;
  }
}

.firstscreen.contacts .start__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 400px;
}

.firstscreen.contacts .start__contact h1 {
  font-family: 'Montserrat Bold';
  font-size: 80px;
  line-height: 1.2;
  color: #FFFFFF;
  z-index: 99;
}

@media (max-width: 768px) {
  .firstscreen.contacts .start__contact h1 {
    font-size: calc(46px + (80 - 46) * ((100vw - 300px) / (767 - 300)));
    padding: 0px 20px;
    text-align: center;
  }
}

.firstscreen .header {
  position: relative;
  width: 100%;
  height: 100px;
  z-index: 99;
}

@media (max-width: 1110px) {
  .firstscreen .header {
    z-index: 3;
    -webkit-transition: 400ms ease 0s;
    transition: 400ms ease 0s;
    position: absolute;
    left: 0;
    top: 0;
  }
  .firstscreen .header.active {
    height: 100vh;
    background-color: #14274A;
    z-index: 999;
    position: fixed;
  }
  .firstscreen .header.active .header__body {
    height: 100%;
    display: block;
  }
  .firstscreen .header__burger {
    position: absolute;
    top: 40px;
    right: 80px;
    width: 30px;
    height: 20px;
    z-index: 3;
  }
}

@media (max-width: 1110px) and (max-width: 992px) {
  .firstscreen .header__burger {
    right: 50px;
  }
}

@media (max-width: 1110px) and (max-width: 768px) {
  .firstscreen .header__burger {
    top: calc(20px + (40 - 20) * ((100vw - 300px) / (768 - 300)));
    right: 20px;
  }
}

@media (max-width: 1110px) {
  .firstscreen .header__burger::after, .firstscreen .header__burger::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0px;
    background-color: #ffffff;
  }
  .firstscreen .header__burger.active::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }
  .firstscreen .header__burger.active::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }
  .firstscreen .header__burger::before {
    top: 0px;
    -webkit-transition: 0.4s ease 0s;
    transition: 0.4s ease 0s;
  }
  .firstscreen .header__burger::after {
    bottom: 1px;
    -webkit-transition: 0.4s ease 0s;
    transition: 0.4s ease 0s;
  }
  .firstscreen .header__burger span {
    position: absolute;
    background-color: #ffffff;
    left: 0px;
    width: 100%;
    height: 2px;
    top: 8px;
    -webkit-transition: 0.4s ease 0s;
    transition: 0.4s ease 0s;
  }
  .firstscreen .header__burger.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

.firstscreen .header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100px;
}

@media (max-width: 768px) {
  .firstscreen .header__body {
    height: auto;
  }
}

.firstscreen .header__body .header__logo, .firstscreen .header__body .logo {
  width: 256px;
  height: 100px;
  background: #E0B973;
  border-radius: 0px 0px 30px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-decoration: none;
}

@media (max-width: 1110px) {
  .firstscreen .header__body .header__logo, .firstscreen .header__body .logo {
    position: absolute;
    left: 80px;
  }
}

@media (max-width: 992px) {
  .firstscreen .header__body .header__logo, .firstscreen .header__body .logo {
    left: 50px;
  }
}

@media (max-width: 768px) {
  .firstscreen .header__body .header__logo, .firstscreen .header__body .logo {
    width: auto;
    height: auto;
    top: 0;
    padding: 10px 20px;
    left: 20px;
  }
}

.firstscreen .header__body .header__logo__content, .firstscreen .header__body .logo__content {
  text-align: center;
}

.firstscreen .header__body .header__logo__content h1, .firstscreen .header__body .logo__content h1 {
  font-family: 'Adobe Garamond Pro Bold';
  letter-spacing: 0.15em;
}

.firstscreen .header__body .header__logo__content h4, .firstscreen .header__body .logo__content h4 {
  font-family: 'Adobe Garamond Pro Bold';
  font-size: 15px;
  line-height: 1.2;
  letter-spacing: 0.6em;
  color: #14274A;
}

@media (max-width: 768px) {
  .firstscreen .header__body .header__logo__content h4, .firstscreen .header__body .logo__content h4 {
    font-size: calc(12px + (15 - 12) * ((100vw - 300px) / (768 - 300)));
  }
}

.firstscreen .header__body .header__menu {
  width: 700px;
}

@media (min-width: 1024px) {
  .firstscreen .header__body .header__menu {
    width: 500px;
  }
}

@media (min-width: 1440px) {
  .firstscreen .header__body .header__menu {
    width: 700px;
  }
}

@media (max-width: 1110px) {
  .firstscreen .header__body .header__menu {
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .firstscreen .header__body .header__menu.active {
    opacity: 1;
    visibility: visible;
  }
}

.firstscreen .header__body .header__menu .header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1110px) {
  .firstscreen .header__body .header__menu .header__list {
    display: -ms-grid;
    display: grid;
    grid-row-gap: 30px;
    text-align: center;
    width: auto;
  }
}

.firstscreen .header__body .header__menu .header__list li {
  display: inline-block;
  position: relative;
}

.firstscreen .header__body .header__menu .header__list li a {
  color: #FFFFFF;
  text-decoration: none;
  -webkit-transition: all 400ms ease 0s;
  transition: all 400ms ease 0s;
}

.firstscreen .header__body .header__menu .header__list li a:hover {
  text-shadow: 0px 0px 2px #ffffff;
}

.firstscreen .header__body .header__menu .header__list li::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 2px;
  background-color: #ffffff;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 400ms ease 0s;
  transition: -webkit-transform 400ms ease 0s;
  transition: transform 400ms ease 0s;
  transition: transform 400ms ease 0s, -webkit-transform 400ms ease 0s;
}

.firstscreen .header__body .header__menu .header__list li:hover::after, .firstscreen .header__body .header__menu .header__list li:focus-visible::after {
  -webkit-transform: scale(1);
          transform: scale(1);
}

@media (max-width: 1110px) {
  .firstscreen .header__body .header__menu .header__list li:hover::after, .firstscreen .header__body .header__menu .header__list li:focus-visible::after {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

.firstscreen .start {
  position: relative;
  width: 100%;
  height: calc(100vh - 100px);
  z-index: 2;
}

@media (max-height: 650px) {
  .firstscreen .start {
    height: 550px;
  }
}

@media (max-width: 1110px) {
  .firstscreen .start {
    height: 100vh;
  }
}

@media (max-width: 1110px) and (max-height: 650px) {
  .firstscreen .start {
    height: 650px;
  }
}

.firstscreen .start__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70%;
}

@media (max-height: 650px) {
  .firstscreen .start__body {
    margin-top: 30px;
    height: auto;
  }
}

@media (max-width: 1110px) and (max-height: 650px) {
  .firstscreen .start__body {
    margin-top: 0;
    padding-top: 120px;
  }
}

@media (max-width: 1110px) {
  .firstscreen .start__body {
    text-align: center;
  }
}

@media (max-width: 1110px) {
  .firstscreen .start__body .start__text {
    margin: 0 auto;
  }
}

@media (max-width: 400px) {
  .firstscreen .start__body .start__text {
    max-width: 100%;
  }
}

.firstscreen .start__body .start__text h2 {
  color: #FFFFFF;
}

.firstscreen .start__body .start__text h1 {
  font-family: 'Adobe Garamond Pro Bold';
  font-size: 120px;
  line-height: 100%;
  letter-spacing: 0.07em;
  color: #FFFFFF;
}

@media (max-width: 768px) {
  .firstscreen .start__body .start__text h1 {
    font-size: calc(60px + (120 - 60) * ((100vw - 300px) / (768 - 300)));
  }
}

.firstscreen .start__body .start__text h3 {
  font-family: 'Adobe Garamond Pro Bold';
  font-size: 50px;
  line-height: 40%;
  letter-spacing: 0.4em;
  color: #FFFFFF;
}

@media (max-width: 768px) {
  .firstscreen .start__body .start__text h3 {
    font-size: calc(36px + (50 - 36) * ((100vw - 300px) / (768 - 300)));
  }
}

.firstscreen .start__body .start__text p {
  font-family: 'Montserrat Regular';
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.1em;
  color: #FFFFFF;
  margin-top: 10px;
  max-width: 450px;
}

@media (max-width: 1110px) {
  .firstscreen .start__body .start__text p {
    margin: 10px auto 0;
  }
}

@media (max-width: 768px) {
  .firstscreen .start__body .start__text p {
    font-size: calc(16px + (18 - 16) * ((100vw - 300px) / (768 - 300)));
  }
}

@media (max-width: 400px) {
  .firstscreen .start__body .start__text p {
    max-width: 100%;
  }
}

.firstscreen .start__body .start__button {
  position: absolute;
  bottom: 30px;
  width: 100%;
  left: 0;
  height: 180px;
}

.firstscreen .start__body .start__button a {
  font-family: 'Montserrat Bold';
  font-size: 18px;
  line-height: 100%;
  color: #FFFFFF;
  text-decoration: none;
}

.firstscreen .start__body .start__button .button {
  width: 220px;
  height: 60px;
  margin: 0px auto 30px auto;
}

.firstscreen .start__body .start__button .button img {
  margin-right: 10px;
}

.firstscreen .start__body .start__button .scroll {
  min-width: 79px;
  text-align: center;
}

.firstscreen .start__body .start__button .scroll__img {
  margin: 10px auto 0 !important;
  height: auto;
  -webkit-transition: -webkit-transform 300ms ease 0s;
  transition: -webkit-transform 300ms ease 0s;
  transition: transform 300ms ease 0s;
  transition: transform 300ms ease 0s, -webkit-transform 300ms ease 0s;
}

.firstscreen .start__body .start__button .scroll:hover .scroll__img {
  -webkit-transform: translate(0, 10px);
          transform: translate(0, 10px);
}

.about h1 {
  margin-bottom: 93px;
  font-size: 36px;
  line-height: 1.2;
}

@media (max-width: 768px) {
  .about h1 {
    font-size: calc(28px + (36 - 28) * ((100vw - 300px) / (768 - 300)));
  }
}

.about__items {
  display: -ms-grid;
  display: grid;
  grid-row-gap: 100px;
}

.about__item {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1110px) {
  .about__item {
    display: -ms-grid;
    display: grid;
    grid-row-gap: 30px;
    max-width: 800px;
    margin: 0 auto;
  }
}

.about__item .about__text {
  position: relative;
  max-width: 650px;
  margin-right: 30px;
}

@media (max-width: 1110px) {
  .about__item .about__text {
    max-width: 100%;
    margin-right: 0;
  }
}

.about__item .about__text::after {
  content: '';
  position: absolute;
  left: -50px;
  top: calc(50% - 334px/2);
  width: 2px;
  height: 334px;
  background: #14274A;
  z-index: 2;
}

@media (max-width: 1110px) {
  .about__item .about__text::after {
    display: none;
  }
}

.about__item .about__text .text {
  max-width: 542px;
}

@media (max-width: 1110px) {
  .about__item .about__text .text {
    max-width: 100%;
    text-align: center;
  }
}

.about__item .about__text .text p {
  text-align: left;
  margin: 25px 0px 30px 0px;
}

@media (max-width: 1110px) {
  .about__item .about__text .text p {
    text-align: center;
  }
}

.about__item .about__text .text a {
  width: 236px;
  height: 63px;
  font-family: 'Montserrat Regular';
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.05em;
  color: #FFFFFF;
}

@media (max-width: 1110px) {
  .about__item .about__text .text a {
    margin: 0 auto;
  }
}

.about__item .ibg {
  height: 100%;
  width: auto;
}

@media (min-width: 1024px) {
  .about__item .ibg {
    width: 50%;
  }
}

@media (min-width: 1440px) {
  .about__item .ibg {
    width: auto;
  }
}

@media (max-width: 1110px) {
  .about__item .ibg {
    width: 100%;
    height: auto;
  }
}

.about__item .ibg img {
  height: 100%;
  width: 100%;
}

.about__item .ibg::after {
  content: '';
  background: rgba(20, 39, 74, 0.2);
}

.review h1 {
  text-align: center;
}

.review .swiper {
  width: 800px;
  margin: 26px auto 0px auto;
}

@media (max-width: 992px) {
  .review .swiper {
    width: 100%;
  }
}

.review .swiper h4 {
  font-family: 'Montserrat Regular';
  font-size: 30px;
  line-height: 1.2;
  color: #14274A;
  margin-bottom: 19px;
  text-align: center;
}

@media (max-width: 768px) {
  .review .swiper h4 {
    font-size: calc(20px + (30 - 20) * ((100vw - 300px) / (768 - 300)));
  }
}

.review__button {
  width: 121px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 23px auto 0px auto;
}

.review__button .button {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  cursor: pointer;
}

.review__button .button:hover {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.review__button .swiper-prev {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.review__button .swiper-prev:hover {
  -webkit-transform: scale(0.95) rotate(180deg);
          transform: scale(0.95) rotate(180deg);
}

.footer {
  position: relative;
  width: 100%;
  height: 290px;
  background-color: #14274A;
  margin-bottom: 0;
}

@media (max-width: 1110px) {
  .footer {
    height: 350px;
  }
}

@media (max-width: 768px) {
  .footer {
    height: 700px;
  }
}

.footer::after {
  content: '';
  position: absolute;
  width: 180px;
  height: 180px;
  background-color: #14274A;
  top: -30px;
  left: calc(50% - 180px/2);
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  z-index: 0;
}

.footer a, .footer p {
  font-family: 'Montserrat Regular';
  font-size: 16px;
  line-height: 1.2;
  color: #F7F7F7;
  text-decoration: none;
}

.footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 290px;
}

@media (max-width: 1110px) {
  .footer__body {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
    grid-row-gap: 40px;
    height: 350px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 768px) {
  .footer__body {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    -ms-grid-rows: (1fr)[4];
        grid-template-rows: repeat(4, 1fr);
    height: 700px;
    grid-row-gap: 20px;
  }
}

.footer__body .footer__item {
  max-width: 264px;
  z-index: 99;
}

@media (min-width: 1440px) {
  .footer__body .footer__item {
    max-width: 264px !important;
  }
}

@media (min-width: 1024px) {
  .footer__body .footer__item {
    max-width: 200px;
  }
}

@media (max-width: 1110px) {
  .footer__body .footer__item {
    margin: 0px auto;
    text-align: center;
  }
  .footer__body .footer__item .footer__logo {
    margin: 0px auto;
  }
}

.footer__body .footer__item .footer__logo {
  max-width: 118px;
  text-align: center;
  margin-bottom: 22px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
  left: -70px;
}

@media (min-width: 1440px) {
  .footer__body .footer__item .footer__logo {
    left: -70px !important;
  }
}

@media (min-width: 1024px) {
  .footer__body .footer__item .footer__logo {
    left: -40px;
  }
}

@media (max-width: 1110px) {
  .footer__body .footer__item .footer__logo {
    left: 0;
  }
}

.footer__body .footer__item .footer__logo h1 {
  letter-spacing: 0.15em;
  color: #FFFFFF;
  font-family: 'Adobe Garamond Pro Bold';
}

.footer__body .footer__item .footer__logo h4 {
  font-family: 'Adobe Garamond Pro Bold';
  font-size: 9px;
  line-height: 1.2;
  letter-spacing: 0.6em;
  color: #FFFFFF;
}

.footer__body .footer__item .footer__contact {
  margin-top: 10px;
}

.footer__body .footer__item .footer__contact a, .footer__body .footer__item .footer__contact p {
  font-family: 'Montserrat Regular';
  font-size: 14px;
  line-height: 1.2;
  color: #FFFFFF;
  text-decoration: none;
}

.footer__body .footer__item .footer__contact a:hover {
  text-decoration: underline;
}

.footer__body .footer__menu {
  display: -ms-grid;
  display: grid;
  z-index: 99;
}

@media (max-width: 1110px) {
  .footer__body .footer__menu {
    margin: 0px auto;
  }
}

.footer__body .footer__menu li {
  display: inline-block;
  position: relative;
  margin-bottom: 20px;
  width: 75px;
}

@media (max-width: 1110px) {
  .footer__body .footer__menu li {
    width: auto;
    text-align: center;
  }
}

.footer__body .footer__menu li:nth-child(2) {
  width: 64px;
}

@media (max-width: 1110px) {
  .footer__body .footer__menu li:nth-child(2) {
    width: auto;
    text-align: center;
  }
}

.footer__body .footer__menu li:last-child {
  width: 155px;
}

@media (max-width: 1110px) {
  .footer__body .footer__menu li:last-child {
    width: auto;
    text-align: center;
  }
}

.footer__body .footer__menu li::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 2px;
  background-color: #ffffff;
  -webkit-transform: scale(0) translate(-100%, 0);
          transform: scale(0) translate(-100%, 0);
  -webkit-transition: -webkit-transform 400ms ease 0s;
  transition: -webkit-transform 400ms ease 0s;
  transition: transform 400ms ease 0s;
  transition: transform 400ms ease 0s, -webkit-transform 400ms ease 0s;
}

.footer__body .footer__menu li:hover::after {
  -webkit-transform: scale(1) translate(0, 0);
          transform: scale(1) translate(0, 0);
}

.footer__body .footer__social {
  z-index: 99;
}

@media (max-width: 1110px) {
  .footer__body .footer__social {
    margin: 0px auto;
  }
}

.footer__body .footer__social .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.footer__body .footer__social .item p {
  -webkit-transition: 400ms ease 0s;
  transition: 400ms ease 0s;
  margin-left: 27px;
}

.footer__body .footer__social .item:hover p {
  -webkit-transform: translate(-10px, 0);
          transform: translate(-10px, 0);
}

@media (max-width: 1110px) {
  .footer__body .footer__form {
    margin: 0px auto;
    text-align: center;
  }
}

.footer__body .footer__form form {
  width: 360px;
  height: 52px;
  border: 2px solid #E0B973;
  margin-top: 30px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: 400ms ease 0s;
  transition: 400ms ease 0s;
}

@media (max-width: 1110px) {
  .footer__body .footer__form form {
    margin: 30px auto 0px auto;
  }
}

@media (max-width: 400px) {
  .footer__body .footer__form form {
    width: 100%;
  }
}

.footer__body .footer__form form:focus-within {
  -webkit-box-shadow: 0px 0px 20px #E0B973;
          box-shadow: 0px 0px 20px #E0B973;
}

.footer__body .footer__form form input {
  background-color: #14274A;
  border: none;
  height: 100%;
  width: 280px;
  padding: 0px 26px;
  font-family: 'Montserrat Regular';
  font-size: 16px;
  line-height: 1.2;
  color: #FFFFFF;
}

.footer__body .footer__form form input::-webkit-input-placeholder {
  color: #FFFFFF;
}

.footer__body .footer__form form input:-ms-input-placeholder {
  color: #FFFFFF;
}

.footer__body .footer__form form input::-ms-input-placeholder {
  color: #FFFFFF;
}

.footer__body .footer__form form input::placeholder {
  color: #FFFFFF;
}

@media (max-width: 400px) {
  .footer__body .footer__form form input {
    width: 200px;
  }
}

.footer__body .footer__form form button {
  background: #E0B973;
  border: none;
  height: 100%;
  width: 80px;
  cursor: pointer;
}

@media (max-width: 400px) {
  .footer__body .footer__form form button {
    width: 60px;
  }
}

.footer__body .footer__form form button p {
  color: #14274A;
}

.facilities {
  margin-top: 82px;
}

.facilities__text {
  text-align: center;
  margin-bottom: 82px;
}

.facilities__text h1 {
  margin-bottom: 34px;
}

.facilities__item {
  width: 100%;
  height: 800px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(..//img/facilities/gym.webp);
  position: relative;
  margin-bottom: 150px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: -webkit-transform 400ms ease 0s;
  transition: -webkit-transform 400ms ease 0s;
  transition: transform 400ms ease 0s;
  transition: transform 400ms ease 0s, -webkit-transform 400ms ease 0s;
}

@media (max-height: 900px) {
  .facilities__item {
    height: 600px;
  }
}

.facilities__item:hover {
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
}

@media (max-width: 992px) {
  .facilities__item {
    height: 600px;
  }
}

@media (max-width: 768px) {
  .facilities__item {
    margin-bottom: 80px;
  }
}

.facilities__item:nth-child(3) {
  background-image: url(..//img/facilities/bar.webp);
}

.facilities__item:nth-child(4) {
  background-image: url(..//img/facilities/spa.webp);
}

.facilities__item:nth-child(5) {
  background-image: url(..//img/facilities/pool.webp);
}

.facilities__item:nth-child(6) {
  background-image: url(..//img/facilities/restaurant.webp);
}

.facilities__item:last-child {
  background-image: url(..//img/facilities/laundry.webp);
}

.facilities__item .text {
  position: absolute;
  bottom: 0;
  width: 684px;
  height: 75px;
  left: calc(50% - 684px/2);
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  .facilities__item .text {
    width: 100%;
    left: 0;
  }
}

.facilities__item .text h3 {
  font-family: 'Montserrat Bold';
  font-size: 48px;
  line-height: 1.2;
  color: #14274A;
}

@media (max-width: 768px) {
  .facilities__item .text h3 {
    font-size: calc(28px + (48 - 28) * ((100vw - 300px) / (767 - 300)));
  }
}

.room {
  position: relative;
  width: 100%;
  margin-top: 81px;
}

.room__text {
  text-align: center;
  margin-bottom: 81px;
}

.room__text h4 {
  margin-top: 29px;
}

.room__item {
  width: 100%;
  margin-bottom: 81px;
}

.room__item .swiper {
  height: 500px;
  width: 100%;
}

@media (min-width: 1920px) {
  .room__item .swiper {
    height: 700px;
  }
}

@media (max-width: 768px) {
  .room__item .swiper {
    height: 400px;
  }
}

@media (max-width: 400px) {
  .room__item .swiper {
    height: 300px;
  }
}

.room__item .swiper__slide, .room__item .swiper .ibg {
  width: 100%;
  height: 520px;
}

@media (min-width: 1920px) {
  .room__item .swiper__slide, .room__item .swiper .ibg {
    height: 720px;
  }
}

@media (max-width: 768px) {
  .room__item .swiper__slide, .room__item .swiper .ibg {
    height: 420px;
  }
}

@media (max-width: 400px) {
  .room__item .swiper__slide, .room__item .swiper .ibg {
    height: 320px;
  }
}

.room__item .swiper__slide img, .room__item .swiper .ibg img {
  width: 100%;
  height: 530px;
  -o-object-fit: fill !important;
     object-fit: fill !important;
  -o-object-position: center center;
     object-position: center center;
}

@media (min-width: 1920px) {
  .room__item .swiper__slide img, .room__item .swiper .ibg img {
    height: 730px;
  }
}

@media (max-width: 768px) {
  .room__item .swiper__slide img, .room__item .swiper .ibg img {
    height: 100%;
  }
}

.room__item .swiper-pagination-bullet {
  width: 20px !important;
  height: 20px !important;
  border: 2px solid #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-width: 768px) {
  .room__item .swiper-pagination-bullet {
    display: none;
  }
}

.room__item .swiper-pagination-bullet-active {
  background-color: #ffffff !important;
}

.room__item .room__body .text {
  width: 100%;
  height: 141px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #14274A;
}

@media (max-width: 768px) {
  .room__item .room__body .text {
    height: 90px;
  }
}

@media (max-width: 400px) {
  .room__item .room__body .text {
    height: 60px;
  }
}

.room__item .room__body .text h2 {
  color: #ffffff;
  font-weight: bold;
}

@media (max-width: 768px) {
  .room__item .room__body .text h2 {
    font-size: calc(28px + (60 - 28) * ((100vw - 300px) / (767 - 300)));
  }
}

.room__item .room__body .description {
  width: 100%;
  height: 235px;
  border: 2px solid #14274A;
  border-radius: 0px 0px 15px 15px;
  -webkit-transition: 400ms ease 0s;
  transition: 400ms ease 0s;
}

@media (max-width: 768px) {
  .room__item .room__body .description {
    height: auto;
    padding: 30px 0;
  }
}

.room__item .room__body .description__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  height: 100%;
  width: 80%;
  margin: 0px auto;
}

@media (max-width: 768px) {
  .room__item .room__body .description__body {
    display: -ms-grid;
    display: grid;
    grid-row-gap: 50px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.room__item .room__body .description__body .accordion {
  width: 100%;
}

.room__item .room__body .description__body .accordion__item {
  position: relative;
}

.room__item .room__body .description__body .accordion__item.show .accordion__content {
  height: 140px;
  margin-top: 20px;
}

@media (max-width: 400px) {
  .room__item .room__body .description__body .accordion__item.show .accordion__content {
    padding: 0 20px;
    height: 190px;
  }
}

.room__item .room__body .description__body .accordion__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  width: 400px;
  height: 30px;
  position: relative;
}

@media (max-width: 768px) {
  .room__item .room__body .description__body .accordion__header {
    margin: 0 auto;
    width: 360px;
  }
}

@media (max-width: 450px) {
  .room__item .room__body .description__body .accordion__header {
    width: 320px;
  }
}

@media (max-width: 400px) {
  .room__item .room__body .description__body .accordion__header {
    width: auto;
  }
}

.room__item .room__body .description__body .accordion__header::before {
  content: url(..//img/rooms/view.svg);
  position: absolute;
  left: 0px;
  -webkit-transition: -webkit-transform 400ms ease 0s;
  transition: -webkit-transform 400ms ease 0s;
  transition: transform 400ms ease 0s;
  transition: transform 400ms ease 0s, -webkit-transform 400ms ease 0s;
}

@media (max-width: 768px) {
  .room__item .room__body .description__body .accordion__header::before {
    width: 25px;
    top: -10px;
    height: 25px;
  }
}

@media (max-width: 400px) {
  .room__item .room__body .description__body .accordion__header::before {
    display: none;
  }
}

.room__item .room__body .description__body .accordion__header::after {
  content: 'VIEW ROOM DETAILS';
  font-family: 'Montserrat Bold';
  font-size: 25px;
  line-height: 1.2;
  font-weight: bold;
  margin-left: 40px;
  position: absolute;
  left: 50px;
}

@media (max-width: 768px) {
  .room__item .room__body .description__body .accordion__header::after {
    left: 30px;
    font-size: calc(20px + (25 - 20) * ((100vw - 300px) / (768 - 300)));
  }
}

@media (max-width: 400px) {
  .room__item .room__body .description__body .accordion__header::after {
    margin-left: 0;
  }
}

.room__item .room__body .description__body .accordion__content {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition: .4s ease-in-out 0s;
  transition: .4s ease-in-out 0s;
  text-align: left;
}

@media (max-width: 768px) {
  .room__item .room__body .description__body .accordion__content {
    text-align: center;
  }
}

.room__item .room__body .description__body .accordion__content p {
  max-width: 600px;
  color: #14274A;
  font-family: 'Montserrat Bold';
  font-size: 16px;
}

@media (max-width: 992px) {
  .room__item .room__body .description__body .accordion__content p {
    max-width: 500px;
    margin-right: 30px;
  }
}

@media (max-width: 768px) {
  .room__item .room__body .description__body .accordion__content p {
    font-size: calc(14px + (16 - 14) * ((100vw - 300px) / (768 - 300)));
    max-width: 100%;
    margin-right: 0;
    margin: 0 auto;
  }
}

.room__item .room__body .description__body .button {
  width: 288px;
  height: 78px;
  font-family: 'Montserrat Bold';
  font-weight: bold;
  color: #ffffff;
}

@media (max-width: 768px) {
  .room__item .room__body .description__body .button {
    margin: 0 auto;
  }
}

@media (max-width: 400px) {
  .room__item .room__body .description__body .button {
    width: 90%;
  }
}

.contact {
  margin: 131px 0px 261px 0px;
}

@media (min-width: 1920px) {
  .contact {
    margin: 261px 0px;
  }
}

.contact__text {
  margin-bottom: 164px;
}

@media (min-width: 1440px) {
  .contact__text {
    text-align: left !important;
  }
}

@media (min-width: 1024px) {
  .contact__text {
    text-align: center;
  }
}

@media (max-width: 1110px) {
  .contact__text {
    text-align: center;
  }
}

.contact__text p {
  text-align: left !important;
  font-size: 30px;
  line-height: 1.2;
}

@media (min-width: 1440px) {
  .contact__text p {
    text-align: left !important;
  }
}

@media (max-width: 1110px) {
  .contact__text p {
    text-align: center !important;
  }
}

.contact__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 1440px) {
  .contact__body {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 1024px), (max-width: 1110px) {
  .contact__body {
    display: block;
  }
}

.contact__body .text p, .contact__body .text a {
  font-family: 'Montserrat Regular';
  font-size: 40px;
  line-height: 1.2;
  color: #14274A;
  text-decoration: none;
}

@media (max-width: 768px) {
  .contact__body .text p, .contact__body .text a {
    font-size: calc(21px + (40 - 21) * ((100vw - 300px) / (767 - 300)));
  }
}

.contact__body .text p:first-child {
  max-width: 570px;
  margin-bottom: 28px;
}

@media (min-width: 1440px) {
  .contact__body .text p:first-child {
    text-align: left !important;
    max-width: 570px !important;
  }
}

@media (min-width: 1024px) {
  .contact__body .text p:first-child {
    text-align: center;
    max-width: 100%;
  }
}

@media (max-width: 1110px) {
  .contact__body .text p:first-child {
    text-align: center;
    max-width: 100%;
  }
}

.contact__body .text .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact__body .text .item a:hover {
  text-decoration: underline;
}

@media (min-width: 1440px) {
  .contact__body .text .item {
    -webkit-box-pack: start !important;
        -ms-flex-pack: start !important;
            justify-content: flex-start !important;
  }
}

@media (min-width: 1024px) {
  .contact__body .text .item {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 1110px) {
  .contact__body .text .item {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 450px) {
  .contact__body .text .item {
    display: block;
    text-align: center;
    max-width: 100%;
  }
  .contact__body .text .item a {
    position: relative;
    top: -25px;
  }
}

.contact__body .text .item p {
  margin-right: 10px;
}

@media (max-width: 450px) {
  .contact__body .text .item p {
    margin-right: 0;
  }
}

.contact__body .text a.item {
  font-family: 'Montserrat Bold';
  font-weight: bold;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 54px;
  -webkit-transition: 400ms ease 0s;
  transition: 400ms ease 0s;
}

.contact__body .text a.item:hover {
  width: 335px;
}

.contact__body .text a.item:hover img {
  margin-left: 40px;
}

.contact__body .text a.item img {
  margin-left: 30px;
  -webkit-transition: 400ms ease 0s;
  transition: 400ms ease 0s;
}

@media (min-width: 1440px) {
  .contact__body .text a.item {
    margin: 0 0 54px 0 !important;
    width: auto;
  }
}

@media (min-width: 1024px) {
  .contact__body .text a.item {
    margin: 0px auto 54px auto;
    width: 325px;
  }
}

@media (max-width: 1110px) {
  .contact__body .text a.item {
    margin: 0px auto 54px auto;
    width: 325px;
  }
}

@media (max-width: 450px) {
  .contact__body .text a.item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .contact__body .text a.item img {
    width: 40px;
    margin-left: 20px;
  }
}

.contact__body form {
  width: 570px;
  position: relative;
}

@media (min-width: 1024px), (max-width: 1110px) {
  .contact__body form {
    margin: 0px auto;
  }
}

@media (min-width: 1440px) {
  .contact__body form {
    margin: 0 !important;
    width: 520px;
  }
}

@media (min-width: 1920px) {
  .contact__body form {
    width: 570px;
  }
}

@media (max-width: 768px) {
  .contact__body form {
    margin: 50px auto 0px auto;
    width: 100%;
  }
}

.contact__body form p {
  text-align: left !important;
  font-family: 'Arial Regular';
  margin-bottom: 8px;
}

@media (min-width: 1440px) {
  .contact__body form p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media (min-width: 1024px), (max-width: 1110px) {
  .contact__body form p {
    text-align: center !important;
  }
}

.contact__body form input {
  width: 570px;
  height: 78px;
  background: #FFFFFF;
  border: 2px solid rgba(20, 39, 74, 0.5);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat Regular';
  font-size: 25px;
  line-height: 120%;
  color: #14274A;
  padding: 0px 20px;
  margin-bottom: 30px;
  -webkit-transition: 400ms ease 0s;
  transition: 400ms ease 0s;
}

@media (min-width: 1440px) {
  .contact__body form input {
    width: 520px;
  }
}

@media (min-width: 1920px) {
  .contact__body form input {
    width: 570px;
  }
}

@media (max-width: 768px) {
  .contact__body form input {
    width: 100%;
    height: 60px;
  }
}

.contact__body form input:focus-visible {
  -webkit-box-shadow: 0px 0px 10px #14274A;
          box-shadow: 0px 0px 10px #14274A;
}

.contact__body form textarea {
  max-width: 570px;
  min-width: 570px;
  height: 352px;
  max-height: 352px;
  min-height: 200px;
  background: #FFFFFF;
  border: 2px solid rgba(20, 39, 74, 0.5);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat Regular';
  font-size: 25px;
  line-height: 120%;
  color: #14274A;
  padding: 20px;
  margin-bottom: 52px;
  -webkit-transition: 400ms ease 0s;
  transition: 400ms ease 0s;
}

.contact__body form textarea::-webkit-scrollbar {
  width: 5px !important;
  display: block !important;
}

.contact__body form textarea::-webkit-scrollbar-thumb {
  background-color: #14274A !important;
}

.contact__body form textarea:focus-visible {
  -webkit-box-shadow: 0px 0px 10px #14274A;
          box-shadow: 0px 0px 10px #14274A;
}

@media (min-width: 1440px) {
  .contact__body form textarea {
    max-width: 520px;
    min-width: 520px;
  }
}

@media (min-width: 1920px) {
  .contact__body form textarea {
    max-width: 570px;
    min-width: 570px;
  }
}

@media (max-width: 768px) {
  .contact__body form textarea {
    min-width: 100%;
    max-width: 100%;
    max-height: 250px;
    min-height: 150px;
  }
}

.contact__body form button {
  position: absolute;
  right: 0;
  border: none;
  width: 145px;
  height: 78px;
  color: #FFFFFF;
  font-family: 'Montserrat Bold';
  font-weight: bold;
  cursor: pointer;
}

@media (min-width: 1440px) {
  .contact__body form button {
    width: 145px !important;
  }
}

@media (min-width: 1024px), (max-width: 1110px) {
  .contact__body form button {
    width: 100%;
  }
}

.preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  background: #ffffff;
  z-index: 1001;
}

.preloader__image {
  position: relative;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  margin-top: -35px;
  margin-left: -35px;
  text-align: center;
  -webkit-animation: preloader-rotate 2s infinite linear;
  animation: preloader-rotate 2s infinite linear;
}

@-webkit-keyframes preloader-rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes preloader-rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.loaded_hiding .preloader {
  -webkit-transition: 0.3s opacity;
  transition: 0.3s opacity;
  opacity: 0;
}

.loaded .preloader {
  display: none;
}
